{{define "calculations"}}
<div class="calculations-content">
  <div class="snowball-calculations">
    <span><h4>Snowball</h4></span>
    <div class="calculation">
      <label for="debt-payoff-month-snowball" class="calculation-label">Debt Payoff Month</label>
      <div class="debt-payoff-month-snowball" id="debt-payoff-month-snowball" name="debt-payoff-month-snowball"></div>
    </div>
    <div class="calculation">
      <label for="total-beginning-debt-snowball" class="calculation-label">Total Beginning Debt</label>
      <div class="total-beginning-debt-snowball" id="total-beginning-debt-snowball" name="total-beginning-debt-snowball"></div>
    </div>
    <div class="calculation">
      <label for="total-payments-snowball" class="calculation-label">Total Payments</label>
      <div class="total-payments-snowball" id="total-payments-snowball" name="total-payments-snowball"></div>
    </div>
    <div class="calculation">
      <label for="total-interest-snowball" class="calculation-label">Total Interest</label>
      <div class="total-interest-snowball" id="total-interest-snowball" name="total-interest-snowball"></div>
    </div>
    <div class="calculation">
      <label for="total-minimum-payment-snowball" class="calculation-label">Total Minimum Payment</label>
      <div class="total-minimum-payment-snowball" id="total-minimum-payment-snowball" name="total-minimum-payment-snowball"></div>
    </div>
  </div>

  <div class="avalanche-calculations">
    <span><h4>Avalanche</h4></span>
    <div class="calculation">
      <label for="debt-payoff-month-avalanche" class="calculation-label">Debt Payoff Month</label>
      <div class="debt-payoff-month-avalanche" id="debt-payoff-month-avalanche" name="debt-payoff-month-avalanche"></div>
    </div>
    <div class="calculation">
      <label for="total-beginning-debt-avalanche" class="calculation-label">Total Beginning Debt</label>
      <div class="total-beginning-debt-avalanche" id="total-beginning-debt-avalanche" name="total-beginning-debt-avalanche"></div>
    </div>
    <div class="calculation">
      <label for="total-payments-avalanche" class="calculation-label">Total Payments</label>
      <div class="total-payments-avalanche" id="total-payments-avalanche" name="total-payments-avalanche"></div>
    </div>
    <div class="calculation">
      <label for="total-interest-avalanche" class="calculation-label">Total Interest</label>
      <div class="total-interest-avalanche" id="total-interest-avalanche" name="total-interest-avalanche"></div>
    </div>
    <div class="calculation">
      <label for="total-minimum-payment-avalanche" class="calculation-label">Total Minimum Payment</label>
      <div class="total-minimum-payment-avalanche" id="total-minimum-payment-avalanche" name="total-minimum-payment-avalanche"></div>
    </div>
  </div>
</div>

<style>
  .calculations-content {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
  }

  .calculation {
    display: flex;
  }

  .calculation-label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-right: 1rem;
  }
</style>
{{end}}