{{define "decision"}}
<div class="decision-content">
  <p>
    Given your inputs, your optimal payoff strategy is
  </p>
  <h1 id="decision" name="decision"></h1>
</div>

<style scoped>
  .decision-content {
    text-align: center;
    margin: 0.5rem;
  }

  .decision {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #decision {
    font-size: 4rem;
  }

  #decision.avalanche {
    color: var(--cf-green);
  }

  #decision.snowball {
    color: var(--cf-blue);
  }
</style>
{{end}}