<!DOCTYPE html>
<html lang="en">

<head>
  <title>Analyze 401k</title>
  <script type="text/javascript" src="/assets/wasm_exec.js"></script>
  <script type="module" src="/assets/js/external/chart.umd.min.js"></script>
  <link rel="stylesheet" href="/assets/css/_main.css" />
</head>

<body>
    <div class="inputform-container">
      {{template "inputform" .}}
    </div>
    <div class="decision-container">
      {{template "decision" .}}
    </div>
    <div class="calculations-container">
      {{template "calculations" .}}
    </div>
    <div class="contributions-interest-container">
      {{template "contributions-interest-charts" .}}
    </div>
    <div class="area-chart-container">
      {{template "area-chart" .}}
    </div> 
</body>

<script type="module"> 
import { calculate, calculateAll, isDollarValue, isPercentValue } from "/assets/js/401k_calculations_module.js";
import { get401kCalculatorInput, recalculate } from "/assets/js/input_module.js";
import { generateCharts } from "/assets/js/chart_module.js";

recalculate();
</script>

<style>
  body {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
</style>

</html>

